<nav class="bg-stone-900 text-white p-3">
  <div class=" max-w-screen-xl mx-auto flex justify-between">
    <p><a href="/">Inicio</a></p>

    <ul class="flex">
        <li class="mr-3">Link</li>
        <li class="mr-3">Link</li>
        <li class="mr-3"><a href="/login">Login</a></li>
    </ul>
  </div>  
</nav>