{{#if session.loggedIn}}
  <nav class="bg-stone-900 p-3 text-white font-semibold flex justify-center">
    <div class="grid grid-flow-col grid-cols-3 w-full mx-3">
      <h1 class="pr-10"><a href="/">Home</a></h1>
      <form action="" class="flex justify-center">
        <label for="buscador" class="text-white mr-3">Buscar:</label>
        <input
          id="buscador"
          type="text"
          name="buscador"
          class="w-80 outline-none text-black px-3 rounded-md text-sm mr-3 font-medium"
          placeholder="Escribe el nombre del usuario..."
        />
        <button
          class="bg-violet-800 px-2 py-[1px] rounded-md font-medium"
        >Buscar</button>
      </form>
      <ul class="flex justify-end">
        <li class="pr-10"><a href="/logout">Logout</a></li>
        <li>Bienvenido {{session.name}}</li>
      </ul>
    </div>
  </nav>
{{else}}
  <nav class="bg-stone-900 p-3 text-white font-semibold">
    <div class="flex justify-between w-auto max-w-screen-xl mx-auto">
      <h1 class="pr-10"><a href="/">Home</a></h1>
      <ul class="flex">
        <li class="pr-10"><a href="/posts">Posts</a></li>
        <li class="pr-10"><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </nav>
{{/if}}