<main class=" grid grid-cols-2 mt-20 h-96">  
  <div>
    <h1 class=" text-3xl font-semibold">Bienvenidos</h1>
  </div>
  <div class=" bg-gradient-to-br to-sky-700 from-white">
    Main
  </div>
</main>