<main class=" grid grid-cols-2 mt-20 h-96">  
  <div>
    <h1 class=" text-3xl font-semibold p-20">Bienvenidos a Social NetWork</h1>
  </div>
  <div class="">
    <img src="https://t3.ftcdn.net/jpg/01/55/59/44/240_F_155594414_ZLNDEgVlBMwK7LfYUxwWOhbcNzkq6tvV.jpg" alt="">
  </div>
</main>