<main class=" grid grid-cols-2 mt-20 h-96">  
  <div>
    <h1 class=" text-3xl font-semibold p-20">Bienvenidos a Social NetWork</h1>
    <div class="ml-20">
      <a href="/signup">
        <div class=" bg-stone-900 p-3 rounded-[70px] w-48 font-medium text-white flex justify-center hover:bg-east-side-600 hover:text-stone-900 cursor-pointer ">
           Comenzar a socializar
        </div>
      </a>
    </div>
  </div>
  <div class=" flex justify-center">
    <img src="https://t3.ftcdn.net/jpg/01/55/59/44/240_F_155594414_ZLNDEgVlBMwK7LfYUxwWOhbcNzkq6tvV.jpg" alt="">
  </div>
</main>