<section class="flex">
  <div class="flex w-1/2 justify-center items-center">
    <img src="/img/img.svg" alt="" class="w-96 h-80"/>
  </div>
  <div class="w-1/2">
    <div class="flex justify-center h-screen items-center">
      <form action="" method="post" class="flex flex-col w-96 h-80 bg-white rounded-md p-5">
        <h2 class="p-3 text-xl font-medium">Login</h2>
        <input type="text" name="email" class="m-3 border-2" />
        <input type="password" name="password" class="m-3 border-2" />
        <div>
          <button
            class="m-3 bg-matisse text-white py-2 px-5 justify-between rounded-md"
          >Registro</button>
          <button
            class="m-3 bg-green-haze text-white py-2 px-5 rounded-md"
          >Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</section>